<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.adetunji.ClipIt</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clipit</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Font/Sofia Pro Black Az.otf</string>
		<string>Font/Sofia Pro Black Italic Az.otf</string>
		<string>Font/Sofia Pro Bold Az.otf</string>
		<string>Font/Sofia Pro Bold Italic Az.otf</string>
		<string>Font/Sofia Pro ExtraLight Az.otf</string>
		<string>Font/Sofia Pro ExtraLight Italic Az.otf</string>
		<string>Font/Sofia Pro Light Az.otf</string>
		<string>Font/Sofia Pro Light Italic Az.otf</string>
		<string>Font/Sofia Pro Medium Az.otf</string>
		<string>Font/Sofia Pro Medium Italic Az.otf</string>
		<string>Font/Sofia Pro Regular Az.otf</string>
		<string>Font/Sofia Pro Regular Italic Az.otf</string>
		<string>Font/Sofia Pro Semi Bold Az.otf</string>
		<string>Font/Sofia Pro Semi Bold Italic Az.otf</string>
		<string>Font/Sofia Pro UltraLight Az.otf</string>
		<string>Font/Sofia Pro UltraLight Italic Az.otf</string>
	</array>
</dict>
</plist>
